@model ProjectUserRegistration.tbl_User

@{
    ViewBag.Title = "Userprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/CustomStyleSheet/ProfileStyleSheet1.css" rel="stylesheet" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    @using (Html.BeginForm("Userprofile", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="user-profile-image">
                        <input type="file" class="invisible" id="BrowseImage" accept="image/*" name="UserImageFile" />
                        <img src="@Url.Content(Model.ImagePath)" class="img-fluid" id="UserImage" />
                        <p class="image-desc text-center">Allowed Image : 8000x8000p</p>

                        <div class="upload-photo">
                            <img src="~/Images/browse.png" class="img-fluid" />
                        </div>
                        <div class=" remove-photo">
                            <ion-icon name="close-sharp" class="remove"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.ImagePath)

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.Gender, "Male", new { @name = "gender" })
                                Male
                            </label>

                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.Gender, "Female", new { @name = "gender" })
                                Female
                            </label>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DobStr, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Interest
                        </label>
                        <div class="col-md-8">
                            <label class="checkbox-inline">
                                @Html.CheckBox("cSharp", Model.IsIntrestedIncSharp.Value)
                                C#
                            </label>
                            <label class="checkbox-inline">
                                @Html.CheckBox("java", Model.IsIntrestedInJava.Value)
                                Java
                            </label>
                            <label class="checkbox-inline">
                                @Html.CheckBox("python", Model.IsIntrestedInPython.Value)
                                Python
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            City
                        </label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(mode => Model.CityId, Model.CityList as SelectList, "-- Select City --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-2">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    <script src="~/Scripts/jquery-3.6.1.intellisense.js"></script>
    <script src="~/CustomScripts/Images.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>